<h1>Create a new figure</h1>

<form method="post" action="/figures">
  <label for="name">Name</label>
  <input type="text" id="name" name="figure[name]">
  <br></br>

  <h2><label>Titles</label></h2>
  <% Title.all.each do |title|%>
    <%=title.name%><input id="<%=title.name%>" type="checkbox" name="figure[title_ids][]" value="<%=title.id%>"><br>
  <%end%>
  <br></br>

  <h2><label for="title">Create New Title:</label></h2>
  <input type="text" id="title" name="title[name]">
  <br></br>

  <h2><label>Landmarks</label></h2>
  <% Landmark.all.each do |landmark|%>
    <%= landmark.name%><input id="<%=landmark.name%>" type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>"><br>
  <%end%>
  <br></br>

  <h2><label>Create New Landmark:</label></h2>
  <label for="landmark_name">Name:</label>
  <input type="text" id="landmark_name" name="landmark[name]">
  <label for="year">Year:</label>
  <input type="text" id="year" name="landmark[year]">
  <input type="submit" value="Create New Figure">
</form>
