<h2>Edit Landmark</h2>
<form class="landmark" action="/landmarks/<%=@landmark.slug%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <input type="text" name="landmark[name]" id="Landmark Name" placeholder="Landmark Name" value="<%=@landmark.name%>"><br>
  <input type="text" name="landmark[year_completed]" id="Year Completed" placeholder="Year Completed" value="<%=@landmark.year_completed%>">
  <label>For Figure:</label><br>
  <%@figures.each do |f|%>

    <input type="radio" name="figure[id]" value="<%=f.id%>" id="<%=f.name%>" <%="checked" if ((!@landmark.figure.nil?) && (@landmark.figure.id == f.id))%>>
    <label for="<%=f.name%>"><%=f.name%></label><br>
  <%end%>
  <label>or create a figure:</label><br>
  <input type="text" name="figure[name]" ="Figure Name" placeholder="Figure Name"><br>
  <input type="submit" id="create" value="Edit">
</form>
