<h1>Edit a landmark</h1>
<br></br>

<form method="post" action="/landmarks/<%= @landmark.id %>">
  <label><b>Name: </b><input type="text" id="name" name="landmark[name]" value='<%= @landmark.name %>'></label><br></br>
  <label><b>Year Completed: </b><input type="text" id="year_completed" name="landmark[year_completed]" value='<%= @landmark.year_completed %>'></label><br></br>

  <h3>Choose a figure or create a new one</h3>
  <% Figure.all.each do |figure| %>
    <input type="radio" name="landmark[figure_id]" id="figure_<%= figure.id %>" value="<%= figure.id %>" <%= 'checked' if @landmark.figure == figure %>><%= figure.name %></input><br>
  <% end %><br>
  <label>New figure:<input type="text" name="figure[name]" id="new_figure"></label><br></br>

  <!--  <h3>Choose a landmark(s) and/or create a new one</h3>
    <% Landmark.all.each do |lm| %>
      <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= lm.id %>" value="<%= lm.id %>"><%= lm.name %></input><br>
    <% end %><br>
    <label>New Landmark Name:<input type="text" name="landmark[name]" id="new_landmark"></label><br>
    <label>Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year"></label><br></br>
  -->
  <input type="submit" value="Edit Landmark">

</form>