<h1>Edit A Landmark</h1>

<form action="/landmarks/<%=@landmark.slug%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <h2>Name:</h2>
  <label for="landmark_name">
  <input type="text" name="Landmark Name" id="landmark_name" value="<%= @landmark.name %>" >
  <h2>Year Completed:</h2>
  <label for="landmark_year">
  <input type="text" name="Landmark Year" id="landmark_year" value="<%= @landmark.year_completed %>" >
  <br></br>

  <h2><label>Figure</label></h2>
  <%Figure.all.each do |figure|%>
    <label><%= figure.name %></label>
    <input type="radio" name="landmark[figure_id]" value="<%=figure.id%>" id="<%=figure.name%>"<%='checked' if figure.landmarks.include?(@landmark) %>>
    <br></br>
  <%end%>

  <label>Create a new figure:</label>
  <input type="text" name="Figure Name">
  <br></br>

  <h2><label>Title(s)</label></h2>
  <%Title.all.each do |title|%>
    <label><%= title.name %></label>
    <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="<%=title.name%>" <%='checked' if title.landmarks.include?(@landmark)%>>
    <br></br>
  <%end%>

  <label>Create a new title:</label>
  <input type="text" name="New Title Name">

  <br></br>
  <input type="submit" value="Save">
</form>
