


<h1>Edit: <%=@song.name%></h1>

<form method="POST" action="/songs/<%= @song.id %>">
  <input type="hidden" name="_method" value="PATCH" id="hidden">
  
  <br>
  <label>Artist Name:</label>
  <input type="text" name="song[artist]" id="artist_name" value="<%=@song.artist.name%>">
  <br>
  
  <label>Genres:</label>
  <% Genre.all.each do |genre| %>
    <p><input type="checkbox" name="song[genres][]" id="<%=genre.name%>"  value="<%=genre.id%>" <%='checked' if @song.genres.include?(genre) %>><%= genre.name %></p>
  <% end %>
  
  <br>
    <input type="submit" value="Update Song">
    
</form>








  it "allows you to view the form to edit a single landmark" do
    @landmark = Landmark.first
    get "/landmarks/#{@landmark.id}/edit"

    expect(last_response.status).to eq(200)
    expect(last_response.body).to include('<form')
    expect(last_response.body).to include('landmark[name]')
    expect(last_response.body).to include('landmark[year_completed]')
    expect(last_response.body).to include(@landmark.name)
    expect(last_response.body).to include(@landmark.year_completed.to_s)

  end


  it "allows you to edit a single landmark" do
    @original_landmark = Landmark.first

    visit "/landmarks/#{@original_landmark.id}/edit"
    fill_in :name, with: "BQE!!!!"
    fill_in :year_completed, with: 9999
    click_button "Edit Landmark"

    expect(page.body).to include("BQE!!!!")
    expect(page.body).to include("9999")

    @updated_landmark = Landmark.first
    expect(page.current_path).to eq("/landmarks/#{@original_landmark.id}")
    expect(@updated_landmark.name).to eq("BQE!!!!")
    expect(@updated_landmark.year_completed.to_s).to eq("9999")
  end