<h1>Edit Landmark</h1>
<form action="/landmarks/<%= @landmark.id %>" method="post">

  <label>Name: <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>" required></label>
  <label>Year of completion: <input type="number" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>"></label>

  <h3>Figures</h3>
  <p>
    <% @figures.each do |figure| %>
      <label>
        <input type="radio" name="figure[landmark_id]" value="<%= figure.id %>" id="landmark_<%= figure.id %>"<%= 'selected' if @landmark.figure == figure %>>
        <%= figure.name %>
      </label>
    <% end %>
    <label>Other: <input type="text" name="figure[name]" id="new_figure"></label>
  </p>

  <input type="hidden" name="_method" value="patch">
  <input type="submit" value="Edit Landmark">
</form>