<form action="/landmarks/<%= @landmark.id %>" method="POST">

     <input type="hidden" name="_method" value="patch">

      <label>Name</label>

      <label>Edit landmark: </label><b></b>

      <% Landmark.all.each do |landmark| %>
        <label><%= landmark.name %></label>

      <input type="checkbox" name="landmark[:year_completed][]" value="<%=landmark.id %>" id="<%=landmark.name %>" <%='checked' if @landmark.name.include?(name) %> <br><br/>/>

      <% end %>

          <label>Add New:</label>
          <input type="text" id="new_landmark" name="landmark[name]"><br></br>


          <input type="submit" value="Edit Landmark">

</form>
