<h2>Create New Landmark</h2>
<!-- add content here -->
<form class="" action="index.html" method="post">
  <h2>Name</h2>
  <input type="text" name="landmark[name]" value="Landmark Name" id="Name">
  <br>
  <h2>Titles</h2>
  <br>
  <% Title.all.each do |title| %>
  <input type="checkbox" name="title[name]" value="<%=title.name%>" id="<%=title.name%>"><%= title.name %></input>
  <% end %>

  <br>
  <h2>Create New Title:</h2>
  <input type="text" name="Title Name">
  <br>
  <label>Landmarks</label>

  <br>
  <% Landmark.all.each do |landmark| %>
  <input type="checkbox" name="landmark[name]" value="<%=landmark.name%>" id="<%=landmark.name%>"><%= title.name %></input>
  <% end %>

  <h2>Create New Landmark:</h2>

</form>
<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
