<h2>Create New Landmark</h2>
<!-- add content here -->
<form class="" action="/landmarks" method="post">
  <h2>Name</h2>
  <input type="text" name="figure[name]"  id="Figure Name">
  <br>
  <h2>Titles</h2>
  <br>
  <% Title.all.each do |title| %>
  <input type="checkbox" name="title[name]" value="<%=title.name%>" id="<%=title.name%>"><%= title.name %></input>
  <% end %>

  <br>
  <h2>Create New Title:</h2>
  <input type="text" name="title[name]" id="Title Name">
  <br>
  <h2>Landmarks</h2>
  <br>
  <% Landmark.all.each do |landmark| %>
  <input type="checkbox" name="landmark[name]" value="<%=landmark.name%>" id="<%=landmark.name%>"><%= landmark.name %></input>
  <% end %>

  <h2>Create New Landmark:</h2>
  <label>Name</label>
  <input type="input" name="landmark_name" value="landmark[name]">
  <label>Year</label>
  <input type="input" name="landmark_year_completed" value="landmark[year_completed]">
  <input type="submit" name="Create New Landmark" value="Create New Landmark">
</form>
<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
