<h2>Create New Landmark</h2>
<!-- add content here -->
<form class="" action="/landmarks" method="post">
  <h2>New Figure Name</h2>
  <input type="text" name="figure_name"  id="Figure Name">
  <br>
  <h2>Figure</h2>
  <br>
  <% Figure.all.each do |figure| %>
  <input type="radio" name="landmark[figure_id]" value="<%=figure.id%>" id="<%=figure.id%>"><%= figure.name %></input>
  <% end %>
  <br>
  <h2>Landmarks</h2>
  <br>
  <% Landmark.all.each do |landmark| %>
  <input type="checkbox" name="landmark[name]" value="<%=landmark.name%>" id="<%=landmark.name%>"><%= landmark.name %></input>
  <% end %>
  <br>
  <h2>Create New Landmark:</h2>
  <label>Name</label>
  <input type="input" name="landmark[name]" id="landmark_name">
  <label>Year</label>
  <input type="input" name="landmark[year_completed]" id="landmark_year_completed">
  <input type="submit" name="Create New Landmark" value="Create New Landmark">
</form>
<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
