<form action="/landmarks" method="post">
  <h1>Create a New Landmark</h1>
  <label for="landmark_name">Landmark Name:</label><br>
  <input type="text" id="landmark_name" name="landmark[name]"><br>

  <label for="landmark_year_completed">Landmark Year Completed:</label><br>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]"><br>

  <h2>Existing Figure Titles</h2>
  <% Title.all.each do |title| %>
      <label for="title_<%=title.id%>"><%= title.name %></label><br>
      <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%= title.id %>"><br>
  <% end %>
  <label for="new_title">Create New Figure Title:</label><br>
  <input type="text" id="new_title" name="title[name]"><br>

  <h2>Existing Figure Landmarks</h2>
  <% Landmark.all.each do |landmark| %>
      <label for="landmark_<%=landmark.id%>"><%= landmark.name %></label><br>
      <input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%= landmark.id %>"><br>
  <% end %>

  <input type="submit" value="Create New Landmark">
</form>