<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
<<<<<<< HEAD

  <tr>
      <td>
        <a href="/landmarks/<%=@landmark.id%>"><%= @landmark.name %>
        </a>
    </td>

    <td><%= @landmark.year_completed %></td>

  </tr>

=======
    <% @landmarks.all.each do |landmark|%>
  <tr>
        <td><%= landmark.name %></td>
        <td><%= landmark.year_completed %></td>
  </tr>
    <% end %>
>>>>>>> 9c54679b442f9f17b56028f5bd3a05e7da494d3f
<table>
