<h1>Edit!</h1>

<h3>Did you misspell their name?</h3>

<form action="/figures/<%= @figure.id %>" method="post">

  <label>Edit it here!</label>
    <input type="text" name="figure[name]" value="<%= @figure.name %>" id="figure_name"></input>

  <br>

  <h3><label>Choose from existing titles or add a new one below:</label></h3>
    <% Title.all.each do |title| %>
      <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="figure_name"
      <%= 'checked' if @figure.titles.include?(title) %>>
      <%= title.name %></input>
    <% end %>

  <h3><label>Create a new title:</label></h3>
    <input type="text" name="title[name]" id="new_title"></input>

  <h3><label>Choose from existing landmarks or add a new one below:</label></h3>
    <% Landmark.all.each do |landmark| %>
      <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>"
      <%= 'checked' if @figure.landmarks.include?(landmark) %>>
      <%= landmark.name %></input>
    <% end %>

  <h3><label>Create a new landmark:</label></h3>
    <input type="text" name="landmark[name]" id="new_landmark"></input>

  <p><input type="submit" name="" value="Edit Figure"></p>

</form>
