<form action="/figures/<%= @figure.id %>" method="post">
  <label for="figure_name">Figure Name:</label><br>
  <input type="text" id="figure_name" name="figure[name]" value="<%=@figure.name%>" required><br>

  <h2>Figure Titles</h2>
  <% Title.all.each do |title| %>
      <label for="<%=title.name%>"><%= title.name %></label><br>
      <input type="checkbox" id="<%=title.name%>" name="figure[title_ids][]" value="<%= title.id %>" <%='checked' if @figure.titles.include?(title) %>><br>
  <% end %>
  <label for="new_title">Create New Figure Title:</label><br>
  <input type="text" id="new_title" name="title[name]"><br>

  <h2>Figure Landmarks</h2>
  <% Landmark.all.each do |landmark| %>
      <label for="<%=landmark.name%>"><%= landmark.name %></label><br>
      <input type="checkbox" id="<%=landmark.name%>" name="figure[landmark_ids][]" value="<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark) %>><br>
  <% end %>

  <label for="new_landmark">Create New Figure Landmark:</label><br>
  <input type="text" id="new_landmark" name="landmark[name]"><br>
  <label for="year_completed">Set year of Landmark:</label><br>
  <input type="text" id="year_completed" name="landmark[year_completed]"><br>

  <input type="hidden" name="_method" value="patch">
  <input type="submit" value="Edit Figure">
</form>