<h1>Edit Figure</h2>
<form action="/figures/<%= @figure.id %>" method='POST'>
  <h3>Name of Figure</h3>
  <label>Name: </label><input id='figure_name' name='figure[name]' type='text' value='<%= @figure.name %>' /><br />

  <h3>Titles</h3>
  <% Title.all.each do |title| %>
    <% if @figure.titles.include?(title) %>
    <input id="title_<%= title.id %>" type="checkbox" name='figure[title_ids][]' value="<%= title.id %>" checked><label><%= title.name %></label><br />
    <% else %> 
      <input id="title_<%= title.id %>" type="checkbox" name='figure[title_ids][]' value="<%= title.id %>"><label><%= title.name %></label><br />
    <% end %>
  <% end %>

  <h3>Create New Title</h3>
  <input type="text" id='new_title' name='title[name]' />

  <h3>Landmarks</h3>
  <% Landmark.all.each do |landmark| %>
    <% if @figure.landmarks.include?(landmark) %>
      <input id="landmark_<%= landmark.id %>" type="checkbox" name='figure[landmark_ids][]' value="<%= landmark.id %>" checked><label><%= landmark.name %></label><br />
    <% else %>
      <input id="landmark_<%= landmark.id %>" type="checkbox" name='figure[landmark_ids][]' value="<%= landmark.id %>"><label><%= landmark.name %></label><br />
    <% end %>
  <% end %>
  
  <h3>Create New Landmark</h3>
  Name: <input type="text" id='new_landmark' name='landmark[name]' />
   Year: <input type="text" id='new_landmark_year' name='landmark[year_completed]' />

  <input type='hidden' id='hidden' name='_method' value='patch' />
  <input type="submit" id="Edit Figure" value="Edit Figure" />
</form>

