<h1>Edit a Figure</h1>
<form action="/figures/<%=@figure.id%>" method="POST">
 <input type="hidden" name="_method" value="PATCH">
 Name: <input id="figure_name" type="text" name="figure[name]" value="<%=@figure.name%>">
 <br>
  <h4>Titles</h4>
  <%@titles.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" id="<%=title.name%>" value="<%=title.id%>"
    <%='checked' if @figure.titles.include?(title) %>><%=title.name%></input>
  <%end%>
  <h4>Create new title</h4>
  <input id="new_title" type="text" name="title[name]">
  <h4>Landmarks</h4>
  <%@landmarks.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" id="<%=landmark.name%>" value="<%=landmark.id%>"
    <%='checked' if @figure.landmarks.include?(landmark)%>><%=landmark.name%></input>
  <%end%>
  <h4>Create new landmark:</h4>
  <input id="new_landmark" type="text" name="landmark[name]">
  <input type="submit" value="Edit Figure">
</form>