<h1> Update Landmark </h1>

<form action="/figures/<%=@figure.id%>" method="POST">
<input type="hidden" name="_method" value="PATCH">

<label>Figure Name:</label><br>
<input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>"><br>

<h2>Edit Title</h2><br>
<%Title.all.each do |title|%><br>
<%=title.name%><br>
<input id="title_<%=title.id%>" type="checkbox" name="figure[title_ids][]" value="<%=title.id%>"><br>
<% end %>

<br>
<h2>Edit Landmark:</h2><br>
<input type="text" name="landmark[name]" id="new_landmark"><br>
<br>

<input type="submit" value="Edit Figure">
</form>
