<h1>Update this historical figure</h1>

<form action="/figures/<%= @figure.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name: </label><input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name%>">
  <br></br>
  <h3>Titles</h3>
  <%@titles.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>" <%='checked' if @figure.titles.include?(title) %>><%=title.name%></input>
    <br>
  <%end%>
  <h3><label>Create a new title:</label></h3>
  <input type="text" name="title[name]" id="new_title">
  <h3>Landmarks</h3>
  <%@landmarks.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>" <%='checked' if @figure.landmarks.include?(landmark) %>><%=landmark.name%></input>
    <br>
  <%end%>
  <h3>Create a new landmark:</h3>
  <label>Name: </label><input type="text" name="landmark[name]" id="new_landmark"> <label>Year: </label><input type="text" name="landmark[year]" id="landmark_year">
  <br></br>
  <input type="submit" value="Edit Figure">
  <br></br>
</form>
