<form method="POST" action="/figures/<%=@figure[:id]%>">
  
  <p>Name <input type="text" name="figure[name]" id="figure_name"></p>
  
      <h3>Titles</h3>
  	<%@titles.each do |title|%>
   <p><input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>" <%='checked' if @figure.titles.include?(title) %>><%=title.name%></input></p>
  	<%end%>
  
  <p>Create New Title: <input type="text" name="title[name]" id="new_title"></p>
  
  <h3>Landmarks</h3>
  
  <%@landmarks.each do |landmark|%>
   <p><input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>" <%='checked' if @figure.landmarks.include?(landmark) %>><%=landmark.name%></input></p>
  	<%end%>
  
  <p>Create New Landmark:</p>
  
  <p>Name: <input type="text" name="landmark[name]" id="new_landmark"> Year: <input type="text" name="landmark[year]" id="landmark_year"></p>
  
  <input type="submit" value="Create New Figure">
  
</form>