<form method='POST' action='/figures/<%=@figure.id%>'>
  <input id="hidden" type="hidden" name="_method" value="patch">

  <p>Name: <%=@figure.name%><p>
  <p>Edit Name: <input type="text" name="figure[name]" id ="figure_name"></label></p>

  <h3>Titles</h3>
  <%@titles.each do |title|%>
    <p><%=title.name%> <input type="checkbox" name="figure[title_ids][]" id="<%="title_#{title.id}"%>" value="<%=title.id%>" <%='checked' if @figure.titles.include?(title)%>></input></p>
  <%end%>

  <h3><label for="Title[name]">Create New Title: </label></h3>
    <input type="text" name="title[name]" id="new_title">

  <h3>Landmarks</h3>
  <%@landmarks.each do |landmark|%>
    <p><%=landmark.name%> <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="<%="landmark_#{landmark.id}"%>"<%='checked' if @figure.landmarks.include?(landmark)%>></input></p>
  <%end%>

  <h3><label for="landmark[name]">Create New Landmark:</label></h3>
    Name: <input type="text" name="landmark[name]" id="new_landmark">
    Year <input type="text" name="year_completed">
    <input type="submit" value="Edit Figure">
</form>
