<h1>Edit A Figure</h1>

<form action="/figures/<%= @figure.id %>" method="POST">

<input id="hidden" type="hidden" name="_method" value="PATCH">

  <label>Figure Name:</label>
  <input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name %>">
  <br><br>

  <label>Edit Title(s):</label>

  <% Title.all.each do |title| %>

    <!-- <label><%= title.name %></label> -->
    <br><input type="checkbox" id="title_<%=title.id %>" name="figure[title_ids][]" value="<%= title.id %>" <%= 'checked' if @figure.titles.ids.include?(title.id) %>>
    <label><%= title.name %></label>
  <% end %>

  <p>or add a new Tile:
  <br><input type="text" name="title[name]" id="new_title"></p>
  <br></br>

  <label>Edit Landmarks:</label>

  <% Landmark.all.each do |landmark| %>
    <br><input type="checkbox" id="landmark_<%=landmark.id %>" name="figure[landmark_ids][]" value="<%= landmark.id %>" <%= 'checked' if @figure.landmarks.include?(landmark) %>>
    <label><%= landmark.name %> - Completed: <%= landmark.year_completed %></label>
  <% end %>

  <p>or add a new Landmark:
  <br>
    Name:
  <input type="text" id="new_landmark" name="landmark[name]">
  Year completed: <input type="text" id="new_landmark_year_completed" name="landmark[year_completed]"></p>
  <br>
  <input type="submit" value="Edit Figure">

</form>
