<h1>Edit <%= @figure.name %></h1>

<form action="/figures/<%= @figure.id %>" method="POST">

  <p>
    <label>Name:</label>
    <input type="text" name="figure[name]" value="<%= @figure.name %>" id="figure_name">
  </p>
  <p>
    <h2>Titles:</h2>
    <% Title.all.each do |t| %>
      <input type="checkbox" name="figure[title_ids][]" value="<%= t.id %>" id="<%= t.name %>" <%='checked' if @figure.titles.include?(t) %>>
      <label><%= t.name %></label>
    <% end %>
  </p>
  <p>
    <h2>Landmarks:</h2>
    <% Landmark.all.each do |l| %>
      <input type="checkbox" name="figure[landmarks][]" value="<%= l.id %>" id="<%= l.name %>" <%='checked' if @figure.landmarks.include?(l) %>>
      <label><%= l.name %></label>
    <% end %>
    <h3>Create new landmark:</h3>
    <input id="new_landmark" type="text" name="landmark[name]">
  </p>

  <input type="submit" value="Edit Figure">

</form>
