

<h1>Edit: <%=@song.name%></h1>

<form method="POST" action="/songs/<%= @song.id %>">
  <input type="hidden" name="_method" value="PATCH" id="hidden">
  
  <br>
  <label>Artist Name:</label>
  <input type="text" name="song[artist]" id="artist_name" value="<%=@song.artist.name%>">
  <br>
  
  <label>Genres:</label>
  <% Genre.all.each do |genre| %>
    <p><input type="checkbox" name="song[genres][]" id="<%=genre.name%>"  value="<%=genre.id%>" <%='checked' if @song.genres.include?(genre) %>><%= genre.name %></p>
  <% end %>
  
  <br>
    <input type="submit" value="Update Song">
    
</form>




  it "allows you to view form to edit a single figure" do
    @figure = Figure.first
    get "/figures/#{@figure.id}/edit"

    expect(last_response.status).to eq(200)
    expect(last_response.body).to include('<form')
    expect(last_response.body).to include('figure[name]')
    expect(last_response.body).to include('figure[title_ids]')
    expect(last_response.body).to include(@figure.name)
  end


  it "allows you to edit a single figure" do
    @original_figure = Figure.first
    visit "/figures/#{@original_figure.id}/edit"
    fill_in :figure_name, with: "Missy"
    fill_in :new_landmark, with: "Big Tower"
    click_button "Edit Figure"

    expect(page.current_path).to eq("/figures/#{@original_figure.id}")
    expect(page.body).to include("Missy")
    expect(page.body).to include("Big Tower")

    @updated_figure = Figure.first
    expect(@updated_figure.name).to eq("Missy")
  end
end
