<h1>Update Figure</h1>
 
<form action="/figures/<%=@figure.id%>" method="POST">
  <label>Figure:</label>
 
  <br></br>
 
  <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>">
   
   <h5> Landmarks </h5></br>
  <% Landmark.all.each do |landmark| %></br>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"> <%='checked' if @figure.landmarks.include?(landmark) %> <%=landmark.name%></input>
    <%end%>
  
  <h6> Create New Landmark </h6></br>
  <label> Name </label>
    <input type ="text" name="landmark[name]" id="new_landmark">
  <label> Year </label>
    <input type ="text" name="landmark[year_completed]"></br>
 
   <h5> Titles </h5></br>
  <% Title.all.each do |title| %></br>
    <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"> <%='checked' if @figure.titles.include?(title) %><%=title.name%></input>
    <%end%>
  <br></br>
 
  <input type="submit" value="Edit Figure">
</form>