<form action="/figures/<%= @figure.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <h4>Name: </h4>
  <input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>"><br>

  <h4>Titles: </h4>
  <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="<%= title.name %>" value="<%= title.id %>" <%= 'checked' if @figure.titles.include?(title) %>><%= title.name %><br>
  <% end %>

  <h4>Add New Title: </h4>
  <input type="text" name="title[name]" id="new_title">

  <h4>Edit Landmarks: </h4>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="<%= landmark.name %>" value="<%= landmark.id %>" <%= 'checked' if @figure.landmarks.include?(landmark) %>><%= landmark.name %><br>
  <% end %>

  <h4>Add New Landmark: </h4>
  <input type="text" name="landmark[name]" id="new_landmark">

  <br><br>

  <input type="submit" value="Edit Figure">
</form>
