<h1>Edit Figure</h1>

<form action="/figures/<%=@figures.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <lable>Edit Name</label>
    <input type="text" id="figure_name" name="figure[name]" value="<%= @figures.name %>"><br></br>

  <label><h4>Titles</h4></label>
    <% Title.all.each do |title| %>
      <label><%= title.name %></label>
      <input type="checkbox" id="<%=title.id%>" name="figure[title_ids][]" value="<%= title.id %>" <%='checked' if @figures.titles.include?(title) %>><br>
    <% end %>

 <label><h4>Edit Title:</h4></label>
  <input type="text" id="new_title" name="title[name]">


  <label><h4>Landmarks</h4></label>
    <% Landmark.all.each do |landmark| %>
      <label><%= landmark.name %></label>
      <input type="checkbox" id="<%=landmark.id%>" name="figure[landmark_ids][]" value="<%= landmark.id %>" <%='checked' if @figures.landmarks.include?(landmark) %>><br>
    <% end %>


 <label><h4>Create New Landmark:</h4></label>
 <label>Name:</label>
  <input type="text" id="new_landmark" name="landmark[name]">
  <label>Year:</label>
  <input type="text" name="landmark[year_completed]">
  <input type="submit" value="Edit Figure">
</form>


</form>
