<form action="/figures/<%= @figure.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">

  <label>Name</label>
    <input type="text" id="figure_name" value="<%= @figure.name %>" name="figure[name]"><br></br>

  <label><h2>Edit Titles:</h2></label>
    <% Title.all.each do |title| %>
      <label><%= title.name %></label>
      <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="<%=title.name%>" <%='checked' if @figure.titles.include?(title) %>><br>

    <% end %>
 <label><h2>or, Create New Title:</h2></label>
  <input type="text" id="new_title" name="title[name]">


  <label><h2>Edit Landmarks:</h2></label>
    <% Landmark.all.each do |landmark| %>
      <label><%= landmark.name %></label>
      <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="<%=landmark.name%>" <%='checked' if @figure.landmarks.include?(landmark)%>><br>

    <% end %>
 <label><h2>or, Create New Landmark:</h2></label>
  <input type="text" id="new_landmark" name="landmark[name]">

  <input type="submit" value="Edit Figure">
</form>