<h3>Edit <%= @figure.name %></h3>

<form action='/figure/:slug' method='post'>
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label>Name:</label><br>
  <input type='text' name='figure[name]' value='<%=@figure.name%>' id='figure_name'>

  <br><br>

  <label><h4>Titles</h4></label>
    <% Title.all.each do |title| %>
      <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>"
        <%='checked' if @figure.titles.include?(title) %>> <%=title.name%>
      </input>
      <br>
    <%end%>
    <br><br>

    <label><h4>Landmarks</h4></label>
      <% Landmark.all.each do |landmark| %>
        <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>"
          <%='checked' if @figure.landmark.include?(landmark) %>> <%=landmark.name%>
        </input>
        <br>
      <%end%>

      <br>
    <input type="submit" value="Save">
</form>
