<form action="/figures/<%= @figure.id %>" method="POST">

    <h3>Edit <%= @figure.name %>:</h3>

    <label>Figure Name:</label>
    <input id="figure_name" type="text" name="figure[name]"></input>
    <br></br>

    <label>Choose a Title:</label>
    <br></br>

    <% @titles.each do |title| %>
    <input id="title_<%= title.id %>"type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %></input>
    <% end %>

    <br></br>
    <label>Choose a Landmark:</label>
    <br></br>

    <% @landmarks.each do |landmark| %>
    <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>">
    <%= landmark.name %></input>
    <% end %>

  <br></br>
    <label>Or create a Landmark:</label>
    <input id="new_landmark" type="text" name="landmark[name]"></input>

  <br></br>
    <label>Or create a Title:</label>
    <input id="new_title" type="text" name="title[name]"></input>
  <br></br>
    <input type="submit" value="Edit Figure"></input>
</form>
