<form method="POST" action="/figures/<%= @figure.id %>">
  <input type="hidden" name="_method" value="patch">
  Name<input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name%>">
  Edit Landmarks:
  
  <% Landmark.all.each do |landmark| %>
    <%= landmark.name %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="<%= landmark.name %>" <%='checked' if @figure.landmarks.include?(landmark) %>>
  <% end %>
 Add New: <input type="text" id="new_landmark" name="landmark[name]"><br>

 
  Edit Titles <% Title.all.each do |title| %>
    <%= title.name %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="<%= title.name %>" <%='checked' if @figure.titles.include?(title) %>>
  <% end %></br>
 Add New Title: <input type="text" id="new_title" name="title[name]"><br>



  <input type="submit" value="Edit Figure">
  
</form>
