

<form method="POST" action= "/figures/<%= @figure.id %>">
  <h3>Name: <input type="text" id= "figure_name" name="figure[name]" value="<%= @figure.name %>" ></h3><br>
  <h2>Titles</h3>
    <% Title.all.each do |title| %>

    <input type="checkbox" name="figure[title_ids][]" id= "<%= "title_#{title.id}" %>" value="<%= title.id %>"><%= title.name %></input>
    <% end %>
  <h2>Create New Title:</h2>
      <input type="text" id="new_title" name="title[name]">
    <h2>Landmarks</h2>
      <% Landmark.all.each do |landmark| %>
      <input type="checkbox" name="figure[landmark_ids][]" id="<%= "landmark_#{landmark.id}" %>" value="<%= landmark.id %>"><%= landmark.name %></input>
      <% end %>

    <h2>Create New Landmark:</h2>
     <h4>Name: <input type="text" id="new_landmark" name="landmark[name]"> </h4> <h4>Year: <input type="integer" name="landmark[year]"> </h4>

  <input type="submit" value="Edit Figure">
</form>
