<h2>Edit Historical Figures</h2>

<form action='/figures/<%=@figures.id%>' method="POST">
  <input type="hidden" name="_method" value="patch">

  <h3>Edit Name: <input type="text" id="figure_name" name="figure[name]" value="<%= @figures.name%>"></p>
  </h3>

 <label><h4>Edit Title:</h4></label>
  <input type="text" id="new_title" name="title[name]">
  

    <%Title.all.each do |t|%>
      <p><input type="checkbox" name="figure[title_ids][]" value="<%=t.id%>" id="title_<%=t.id%>"><label><%=t.name%></label></p>
        <%end%>

  <h3>Edit Landmark: <input type="text" name="landmark[name]" id="new_landmark"></p>
  </h3>

    <%Landmark.all.each do |l|%>
      <p><input type="checkbox" name="figure[landmark_ids][]" value="<%=l.id%>" id="landmark_<%=l.id%>" ><label><%=l.name%></label></p>
        <%end%>
        <label>Year:</label><input type="text" name="landmark[year_completed]">
        <input type="submit" value="Edit Figure">
    
    </form>


<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>