<h1>Edit <%= @figure.name %></h1>

<form action="/figures/<%=@figure.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  Name<input type="text" name="figure[name]" id="figure_name"> </br>

  <label>Titles</label></br>

  <% Title.all.each do |title| %>
    <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>">
  <% end %></br>

  <label>Create New Title:</label></br>

  <input type="text" name="title[name]" id="new_title"> </br>

  <label>Landmarks</label>

  <% Landmark.all.each do |landmark| %>
    <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>">
  <% end %></br>

  <label>Create New Landmark:</label></br>

  Name:<input type="text" name="landmark[name]" id="new_landmark">
  Year:<input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <input type="submit" value="Edit Figure">

</form>
