<!DOCTYPE html>
<html>
  <head> Figures edit </head>
  <body>
    <h1>Edit Figure Information</h1>

    <form action="/figures/<%= @figure.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
        <br>

        <br>
          <label for="figure[name]">Figure Name</label>
          <input id="figure_name" type="text" name="figure[name]" value="<%= @figure.name %>">
        <br>
          <% Title.all.each do |title| %>
          <label for="title_<%=title.id%>"><%= title.name %></label>
          <input id="title_<%=title.id%>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" <%='checked' if @figure.title_ids.include?(title.id) %>>
          <% end %>

          <h2>Create New Title:</h2>

            <input id="new_title" type="text" name="title[name]">


          <h2>Landmarks</h2>
          <% Landmark.all.each do |landmark| %>
            <br><label for="landmark_<%=landmark.id%>"><%= landmark.name %></label>
                <input id="landmark_<%=landmark.id%>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" <%='checked' if @figure.landmark_ids.include?(landmark.id) %>>
            <% end %>

          <h2>Create New Landmark:</h2>

            <label for="landmark[name]">Name:</label>
            <input id="new_landmark" type="text" name="landmark[name]">

            <label for="landmark[year_completed]">Year:</label>
            <input type="text" name="landmark[year_completed]">
        <br>

        <input type="submit" value="Edit Figure">

    </form>
  </body>
</html>
