<h1>Edit a Figure</h1>

<!-- Enter the figure's name -->
<form action="/figures/<%=@figure.id%>" method='POST'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Figure Name</label>
  <input type='text' name='figure[name]' id='figure_name' value='<%= @figure.name %>'>

  <!-- Choose the figure's different titles/create new -->
  <p><label>Titles</label>
  <% Title.all.each do |t| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%=t.id%>" value="<%=t.id%>" <%='checked' if @figure.titles.include?(t) %>>
    <label for="title_<%=t.id%>"><%= t.name %></label>
  <% end %> </p>

  <p><label>Create new title</label>
  <input type='text' name='title[name]' id='new_title'> </p>

  <!-- Choose the figure's different landmarks/create new -->
  <p><label>Landmarks</label>
  <% Landmark.all.each do |l| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=l.id%>" value="<%=l.id%>" <%='checked' if @figure.landmarks.include?(l) %>>
    <label for="landmark_<%=l.id%>"><%= l.name %></label>
  <% end %> </p>

  <label>Create a new landmark</label>
  <input type='text' name='landmark[name]' id='new_landmark'>

  <p><input type='submit' value='Edit Figure'></p>
