<h1>Edit - <%= @figure.name %></h1>

<form method="POST" action="/figures/<%= @figure.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="update_figure_name">Update figure name:</label>
  <input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>">

  <label for="update_figure_landmark">Update figure landmark:</label>
  <input type="text" name="landmark[name]" id="new_landmark">

  <label for="update_figure_title">Update figure title:</label>
  <input type="text" name="title[name]" id="new_title">


  <label>Update Existing Landmarks:</label><br>
  <% Landmark.all.each do |landmark| %>
    <input id="<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark) %>> <%= landmark.name%> <br>
  <% end %>

  <br><br>

  <label>Update Existing Title(s):</label><br>
  <% Title.all.each do |title| %>
    <input id="<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" <%='checked' if @figure.titles.include?(title) %>><%= title.name %><br>
  <% end %>

  <input type="submit" value="Edit Figure">
</form>
