<h1>Edit <%= @figure.name %></h1>

<form action="/figures/<%= @figure.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label for="name">Figure Name</label>
  <input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>"> </br>
  <!-- <label> Figure Titles</label> </br>
  <% Title.all.each do |title| %>
  <input type="checkbox" name=figure[title_ids][] id="title_<%=title.id%>" value="<%=title.id%>"<%='checked' if @figure.title_ids.include?(title)%>><%=title.name%>
  <%end%> </br>
  <label> Figure Landmarks</label> </br>
  <% Landmark.all.each do |landmark|%>
    <input id="landmark_<%=landmark.id%>" type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>"<%='checked' if @figure.landmark_ids.include?(landmark)%>><%=landmark.name%>
  <%end%></br> -->
  <label> New Title</label> </br>
  <input type="text" id="new_title" name="title[name]"></br>
  <label> New Landmark</label> </br>
  <input type="text" id="new_landmark" name="landmark[name]"></br>
  <input type="submit" value="Edit Figure">
</form>
