
 <h2>Edit <%=@figure.name%></h2>

 <form  action= "/figures/<%= @figure.id %>" method="post">

  <input type="hidden" name="_method" value="PATCH">

        <label for="name">Name</label>
        <!-- <input type="text" name="figure[name]" id="name" value="<%= @figure.name %>"> -->
          <h3>Name <input type="text" name="figure[name]" id="figure_name"></h3>


    <h3>titles</h3>
          <input type="text" name="figure[name]" id="<%@figure.id%>" value="<%= @figure.name %>">

          <%Title.all.each do |title|%>
          <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%=title.id%>" <%='checked' if @figure.titles.include?(title)%>> <%=title.name%> <br />
          </input>
          <%end%>

          <!-- it hitting the binding.pry -->
         <br>

           <input type="text" name="landmark[name]" id="new_landmark">

          <%Landmark.all.each do |landmark|%>
          <label for="Land_mark">Land Name </label>
         <!-- changing a song's artist -->
          <input type="text" name="title[name]" value="<%= @figure.landmarks.name %>" id="figure.landmarks.id" <%='checked' if @figure.landmarks.include?(landmark)%>> <br />
          <%end%>

      <input type="submit" value="Edit Figure">


</form>
