<h2>Create New Figure:</h2>

<form action="/figures" method="POST">
  <div class="figure">
    <label for="figure[name]">Name: </label><input type="text" name="figure[name]" id="figure_name"></input>
  </div>

  <div class="titles">
    <h2>Titles</h2>
    <%@titles.each do |title|%>
      <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"><%=title.name%></input>
      <br>
    <%end%>

    <h2><label for="title[name]">Create New Title:</label></h2>
    <p>
      <input type="text" name="title[name]" id="new_title"></input>
    </p>
  </div>

  <div class="landmarks">
    <h2>Landmarks</h2>
    <%@landmarks.each do |landmark|%>
      <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"><%=landmark.name%></input>
      <br>
    <%end%>

    <h2><label for="landmark[name]">Create New Landmark:</label></h2>

    <label for="landmark[name]">Name: </label><input type="text" name="landmark[name]" id="new_landmark"></input>
    <label for="landmark[year_completed]">Year: </label><input type="text" name="landmark[year_completed]" id="new_year_completed"></input>
    <input type="submit" value="Create New Figure" id="submit"></input>
  </div>
  </form>
<br>


<footer>
  <a class="button" href="/figures">Figures</a>
  <a class="button" href="/">Home</a>
</footer>
