<h1>Create Figures</h1>
<form action="/figures" method="post">

  <p><label>Name</label></p>
    <input type="text" name="figure[name]" id="figure_name"></p>

  <h2>Titles</h2>
    <%Title.all.each do |i|%>
      <p><input
        type="checkbox"
        name="figure[title_ids][]"
        id="title_<%=i.id%>"
        value="title_<%=i.id%>">
        <%=i.name%></input></p>
    <%end%>

  <h2>Create New Title:</h2>
    <p><input type="text" name="title[name]" id="new_title"></p>

  <h2>Landmarks</h2>
    <%Landmark.all.each do |i|%>
      <p><input
        type="checkbox"
        name="figure[landmark_ids][]"
        id="landmark_<%=i.id%>"
        value="landmark_<%=i.id%>">
        <%=i.name%></input></p>
    <%end%>

  <h2>Create New Landmark:</h2>
    <p><label>Name:</label>
      <input type="text" name="landmark[name]" id="new_landmark"></p>
    <p><label>Year:</label>
      <input type="text" name="landmark[year]">></p>

  <p><input type="submit" value="Create New Figure"></p>

</form>
