<h1>Add a New Figure</h1>

<form action="/figures" method="POST">
	<label>Name</label>
	<input id="figure_name" type="text" name="figure[name]">
	<br>
	<br>
	<h3>Titles</h3>
	<% @titles.each do |title| %>
		<input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]"   value="<%= title.id %>"><%= title.name %><br>
	<% end %>
	<br>
	<h3>Create New Title:</h3>
	<input id="new_title"type="text" name="title[name]">
	<br>
	<h3>Landmarks</h3>
	<% @landmarks.each do |landmark| %>
		<input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %><br>
	<% end %>
	<br>
	<h3>Create New Landmark:</h3>
	Name: <input id="new_landmark" type="text" name="landmark[name]">
	Year: <input type="integer" name="landmark[year_completed]">
	<br>
	<br>
	<input type="submit" value="Create New Figure">
</form> 