<form action="/figures" method="POST">
  <h1>Create a New Figure</h1>

  <label for="figure_name">Figure Name</label><br>
  <input type="text" name="figure[name]" id="figure_name"><br>
  <br>

  <label>Existing Titles</label><br>
  <br>
  <%Title.all.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"> <%=title.name%></input><br>
  <%end%>
  <br>
  <label for="new_title">Create a New Title</label><br>
  <input type="text" name="title[name]" id="new_title"><br>
  <br>

  <label>Existing Landmarks</label><br>
  <br>
  <%Landmark.all.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"> <%=landmark.name%></input><br>
  <%end%>
  <br>
  <label for="new_landmark">Create a New Landmark</label><br>
  <input type="text" name="landmark[name]" id="new_landmark"><br>
  <br>

  <input type="submit" value="Create New Figure">
</form>
