

<form method=POST action='/figures'>
  
  <label for="figure_name">Name</label>
  <input type='text' name='figure[name]' id='figure_name'>
  <br>
  
  
  
  {"figure"=>
    {
      "name"=>"name", "title_ids"=>["3"], 
      "landmark_ids"=>["1"]
    }, 
      "new_title"=>{"name"=>"person"}, 
      "new_landmark"=>{"name"=>"place"}, 
      "_new_landmark"=>{"year"=>"560"}
    }
  
  <p>
  <label>Title</label><br>
  <% @titles.each do |title| %>
    <input id="<%= title.name %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %></input><br>
  <% end %>
   </p>
   
  <label>Create New Title:</label><br>
  <input type='text' name='figure[new_title][name]' id='new_title_name'>
  <br>
  

  <p>
  <label for="figure[landmarks][name]">Landmarks</label><br>
  <% @landmarks.each do |landmark| %>
    <input id="<%= landmark.name %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %></input><br>
  <% end %>
  </p>
  
  <p>
  <label>Create New Landmark:</label><br>
  <label for="new_landmark_name">Name:</label>
  <input type='text' name='new_landmark[name]' id='new_landmark_name'>
  <label for="new_landmark_year">Year:</label>
  <input type='text' name='figure[new_landmark][year]' id='new_landmark_year'>
  </p>

  
  <input type='submit' value='Create New Figure' id='submit'>
  
  
</form>


    <!--expect(page.body).to include('figure[name]')-->
    <!--expect(page.body).to include('figure[title_ids][]')-->
    <!--expect(page.body).to include('figure[landmark_ids][]')-->
    <!--expect(page.body).to include('landmark[name]')-->
    <!--expect(page.body).to include('title[name]')-->