  <form method="post" action="/figures">
    <label>Figure Name:</label>
    <br></br>
    <input type="text" name="figure[name]" id="figure_name"></input>
    <br></br>
    <label>Select a title below:</label>
    <br></br>
    <% @titles.each do |title| %>
    <li>
      <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.name %>"><%=title.name%></input>
    </li>
    <% end %>
    <br></br>
    <label> or create a new title below:</label>
    <input type="text" name="title[name]" id="new_title"></input>
    <br></br>
    <label>Select from a landmark below:</label>
    <% @landmarks.each do |landmark|%>
    <li>
      <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="<%= landmark.id %>"><%=landmark.name%></input>
    </li>
    <% end %>
    <br></br>
    <label>or Create a new Landmark below:</label>
    <input type="text" name="landmark[name]" id="new_landmark"></input>
    <br></br>
    <label>Click here to create a new Figure</label>
    <input type="submit" value="Create New Figure">
  </form>
