<h1>Create a New Figure</h1>

<form action = "/figures" method="POST">
  <label>Add Figure Name:</label>
  <input id="figure_name" type="text" name="figure[name]">

  <br></br>

  <label>Choose existing title(s):</label>
  <% Title.all.each do |title| %>
    <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %>
  <% end %>

  <br></br>

  <label>Create a new title:</label>
  <input id="new_title" type="text" name="title[name]">

  <br></br>

  <label>Choose existing landmark:</label>
  <% Landmark.all.each do |landmark| %>
    <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %>
  <% end %>

  <br></br>

  <label>Create a new landmark:</label>
  <input id="new_landmark" type="text" name="landmark[name]">

  <br></br>

  <input type="submit" value="Create New Figure">
</form>
