<h1>That's Right, Suckas.<br>
It's Time to Add a Historical Figure to the List.</h1>

<h3>Create a new figure below:</h3>

<form action="/figures" method="post">

  <label>Name:</label>
    <input type="text" name="figure[name]" id="figure_name"></input>

  <p></p>

  <h3><label>Choose from existing titles or add a new one below:</label><br></h3>
    <% Title.all.each do |title| %>
      <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>"><%= title.name %></input>
    <% end %>

  <p></p>

  <h3><label>Create a new title:</label></h3>
    <input type="text" name="title[name]" id="new_title"></input>

  <p></p>

  <h3><label>Choose from existing landmarks or add a new one below:</label></h3>
    <% Landmark.all.each do |landmark| %>
      <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>"><%= landmark.name %></input>
    <% end %>

  <p></p>

  <h3><label>Create a new landmark:</label></h3>
    <input type="text" name="landmark[name]" id="new_landmark"></input>

  <p></p>

  <input type="submit" name="" value="Create New Figure">

</form>
