<form action="/figures" method="post">
  <h3>Create a new figure:</h3>

  <label>Figure Name:</label>
  <input id="figure_name" type="text" name="figure[name]">
  <br>

  <label>Choose a Title:</label>
  <% @titles.each do |title| %>
  <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id%>"><%= title.name %>
  <% end %>
  <br>

  <label>Choose a Landmark:</label>
  <% @landmarks.each do |landmark| %>
  <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id%>"><%= landmark.name %>
  <% end %>
  <br>

  <label>Or create a Title:</label>
  <input id="new_title" type="text" name="title[name]">
  <br>

  <label>Or create a Landmark:</label>
  <input id="new_landmark" type="text" name="landmark[name]">
  <br>

  <input type="submit" value="Create New Figure">
</form>
