
<h2>Create New Figure</h2>

<form action='/figures' method="POST">
  Figure Name:
  <input type="text" name="figure[name]" id="figure_name">

  Select Title:
    <%@titles.each do |title|%>
      <input type="checkbox"
      name="figure[title_ids][]"
      value="<%=title.id%>"
      id="title_<%=title.id%>">
      <%=title.name%></input>
    <%end%>

  Or Create New Title:
  <input type="text" name="title[name]" id="new_title">

  Select Landmark:
    <%@landmarks.each do |landmark|%>
      <input type="checkbox"
      name="figure[landmark_ids][]"
      value="<%=landmark.id%>"
      id="landmark_<%=landmark.id%>">
      <%=landmark.name%></input>
    <%end%>


  Or Create New Landmark:
  <input type="text" name="landmark[name]" id="new_landmark">

<input type="submit" value="Create New Figure">

</form>
