<form action='/figures' method="POST">
    <label for="figure_name">Name: </label>
    <input type="text" id="figure_name" name="figure[name]">

    <br>

    <h4>Existing Titles:</h4>
    <% @titles.each do |t| %>
        <label for="<%= t.name %>"><%= t.name %>: </label>
        <input type="checkbox" id="title_<%= t.id %>" name="figure[title_ids][]" value="<%= t.id %>">
        <br>
    <% end %>

    <h4>Existing Landmarks:</h4>
    <% @landmarks.each do |lm| %>
        <label for="<%= lm.name %>"><%= lm.name %>: </label>
        <input type="checkbox" id="landmark_<%= lm.id %>" name="figure[landmark_ids][]" value="<%= lm.id %>">
    <% end %>

    <label for="new_landmark">New Landmark Name: </label>
    <input type="text" id="new_landmark" name="landmark[name]">

    <label for="new_title">New Title Name: </label>
    <input type="text" id="new_title" name="title[name]">

    <button type="submit" id="Create New Figure">Create New Figure</button>
</form>