<h1>Add A Figure</h1>

<form action="/figures" method="POST">

  <label> Historical Figure </label>
  <input id="figure_name" type="text" name="Figure Name">
  <br>
    <br><label> Title </label><br>
    <% Title.all.each do |title| %>
      <input id="<%= title.name %>" type="radio" name="titles[]" value=" <%= title.id %>"><%= title.name %></input><br>
    <%end%>
    <br>
    <label>Create New Title</label>
    <input id="title_name" type="text" name="Title Name">

    <br>
    <br>

  <label> Landmarks </label><br>
  <% Landmark.all.each do |landmark| %>
    <input id="<%= landmark.name %>" type="checkbox" name="landmarks[]" value=" <%= landmark.id %>"><%= landmark.name %></input><br>
  <%end%>

  <input id="submit" type="submit" value="Create">
</form>
