<h2>Create New Figure</h2>
<form action="/figures" method="POST">
  <h3><label for="figure_name">Name:</label></h3>
  <input type="text" name="figure[name]" id="figure_name">

  <h3><label>Titles</label></h3>
  <% Figure.all.each do |figure| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= figure.id %>" id="<%= figure.id %>"><%= figure.name %></input><br>
  <% end %>

  <h3><label for="title_name">Create New Title:</label></h3>
  <input type="text" name="title[name]" id="title_name">

  <h3><label for="figure_landmarks">Landmarks</label></h3>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="<%= landmark.id %>"><%= landmark.name %></input><br>
  <% end %>

  <h3>Create New Landmark:</h3>
  <label for="landmark_name">Name:</label>
  <input type="text" name="landmark[name]" id="landmark_name">
  
  <label for="landmark_year">Year:</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year">

  <input type="submit" value="Create New Figure">

</form>
