<h1>Create Figure</h1>

<form action="/figures" method="POST">
  <label>Name</label>
  <input id="figure_name" type="text" name="figure[name]">
  
  </br>
  
  <h2>Titles</h2>
  <%@titles.each do |title| %>
    <div>
      <%=title.name%><input id="title_<%=title.id%>" type="checkbox" name="figure[title_ids][]" value="<%=title.id%>">
    </div>
  <%end%>
    </br>
    
    <h2>Create New Title:</h2>
    <input id="new_title" type="text" name="title[name]">
    
    </br>
    
    <h2>Landmarks</h2>
    <%@landmarks.each do |landmark|%>
      <div>
        <%=landmark.name%><input id="landmark_<%=landmark.id%>" type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>">
      </div>
    <%end%>
    
    </br>
    
    <h2>Create New Landmark:</h2>
    
    </br>
    
    <label for="new_landmark">Name:</label>
    <input id="new_landmark" type="text" name="landmark[name]">
    <label for="new_landmark_year">Year:</label>
    <input id="new_landmark_year" type="text" name="landmark[year_completed]">

    
    <input type="submit" value="Create New Figure">
</form>