<h1>Create New Figure</h1>

<form action="/figures" method="post">
  <label for="figure_name">Name <input type="text" id="figure_name" name="figure[name]"></label>

  <br></br>

  <label>Titles</label>

  <ul><% Title.all.each do |title|%>
    <li><input type="checkbox" id="title_<%= title.id %>" name="figure[title_ids][]" value="<%= title.id %>"> <%= title.name %></input></li>
    <%end%>

  <label>and/or, create a new title:</label>
      <input type="text" id="new_title" name="title[name]">

  <br></br>
  <br></br>

<h4>Landmarks</h4>

    <% Landmark.all.each do |landmark| %>
    <label><%= landmark.name%></label>
      <input type="checkbox" id="landmark_<%= landmark.id %>" name="figure[landmark_ids][]" value="<%= landmark.id %>"><br>
    <%end%>

  <label>and/or, create a new landmark:</label>
  <label for="new_landmark">Name:</label>
      <input type="text" name="landmark[name]" id="new_landmark">
  <label>Year:</label>
      <input type="text" name="landmark[year_completed]" id="landmark_year">


  <br></br>

  <input type="submit" value="Create New Figure">


</form>
