

<form method=POST action='/figures'>
  
  <label for="figure_name">Name</label>
  <input type='text' name='figure[name]' id='figure_name'>
  <br>
  
  <p>
  <label>Title</label><br>
  <% @titles.each do |title| %>
    <input id="<%= title.name %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %></input><br>
  <% end %>
   </p>
   
  <label for="title_name">Create New Title:</label><br>
  <input type='text' name='title[name]' id='title_name'>
  <br>
  

  <p>
  <label for="landmarks[name]">Landmarks</label><br>
  <% @landmarks.each do |landmark| %>
    <input id="<%= landmark.name %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %></input><br>
  <% end %>
  </p>
  
  <p>
  <label for="landmark_name">Create New Landmark:</label><br>
  <label for="landmark_name">Name:</label>
  <input type='text' name='landmark[name]' id='landmark_name'>
  <label for="landmark_year">Year:</label>
  <input type='text' name='landmark[year]' id='landmark_year'>
  </p>

  
  <input type='submit' value='Create New Figure' id='submit'>
  
  
</form>


    <!--expect(page.body).to include('figure[name]')-->
    <!--expect(page.body).to include('figure[title_ids][]')-->
    <!--expect(page.body).to include('figure[landmark_ids][]')-->
    <!--expect(page.body).to include('landmark[name]')-->
    <!--expect(page.body).to include('title[name]')-->