<form method="POST" action="/figures">
  
  <p>Name <input type="text" name="figure[name]" id="figure_name"></p>
  
  	<%@titles.each do |title|%>
  <h3>Titles <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"><%=title.name%></input></h3>
  	<%end%>
  
  <p>Create New Title: <input type="text" name="title[name]" id="new_title"></p>
  
  <%@landmarks.each do |landmark|%>
  <h3>Landmarks <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"><%=landmark.name%></input></h3>
  	<%end%>
  
  <p>Create New Landmark:</p>
  
  <p>Name: <input type="text" name="landmark[name]" id="new_landmark"> Year: <input type="text" name="landmark[year]" id="landmark_year"></p>
  
  <input type="submit" value="Create New Figure">
  
</form>