<h1>New Figure</h1>
<form action="/figures" method='post'>

    <label><strong>Figure Name</strong></label>
    <input type="text" id="figure_name" name="figure[name]"><br>

     <label><strong>Choose titles</strong></label> <br >
     <%Title.all.each do |t|%>
       <label><%=t.name%><label>
       <input type="checkbox" value="<%=t.id%>" name="figure[title_ids][]" id="title_<%=t.id%>"/> <br>
     <%end%>


     <label><strong>Create title</strong></label> <br >
     <label>New Title<label>
     <input type="text" name="title[name]" id="new_title"/> <br>

     <hr>

     <label><strong>Choose Landmarks</strong></label> <br >
     <%Landmark.all.each do |l|%>
       <label><%=l.name%><label>
       <input type="checkbox" value="<%=l.id%>" name="figure[landmark_ids][]" id="landmark_<%=l.id%>"/> <br>
     <%end%>

     <label><strong>Create Landmark</strong></label> <br >
     <label>Name<label>
     <input type="text" name="landmark[name]" id="new_landmark"/> <br>
     <label>Year<label>
     <input type="text" name="landmark[year_completed]" id="new_year"/> <br>


     <input type="submit" value="Create New Figure">
</form>
