<form method="POST" action="/figures">

  <h3><label for="figure_name">Name </label></h3>
  <input type="text" name="figure[name]" id="figure_name"/>

  <h3>Titles</h3>
  <% @titles.each do |title| %>
    <%= title.name %>  <input type="checkbox" value="figure[title_ids][]" name="title_<%= title.id %>" id="<%= title.id %>/>
    <br>
  <% end %>

  <h3><label for="title_name">Create New Title:</label></h3>
  <input type="text" name="title[name]" id="title_name"/>
  
  
  <h3>Landmarks</h3>
  <% @landmarks.each do |landmark| %>
    <%= landmark.name %>  <input type="checkbox" name="figure[landmark_ids][]" value="landmark_<%= landmark.id %>"/>
    <br>
  <% end %>

  <h3><label for="landmark_name">Create New Landmark:</label></h3>
  <input type="text" name="landmark[name]" id="landmark_name"/>

  <br><br>

  <input type="submit" value="Create New Figure">

</form>