<form action="/figures" method="POST">
  <label> Name </label>
  <input type="text" name="figure[name]" id="figure_name"> </br>

  <h4>Titles</h4>
  <% Title.all.each do |title| %>
      <label> <%= title.name %> </label>
      <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>">
      <br>
    <% end %>

  <label><h4>Create New Title:</h4></label>
  <input type="text" name="title[name]" id="new_title"> </br>

  <label><h4> Landmarks </h4></label>
  <% Landmark.all.each do |landmark| %>
    <label> <%= landmark.name %> </label>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>">
    <br>
  <% end %>

  <label><h4>Create New Landmark:</h4></label>
  <label>Name:</label>
  <input type="text" id="new_landmark" name="landmark[name]">
  <label>Year:</label>
  <input type="text" name="landmark[year_completed]">

  <input type="submit" value="Create New Figure">
</form>
