 <form action="/figures" method="POST">
    <br></br>
    <label>Name:</label>
    <input type="text" name="figure[name]" id="figure_name">
     <br></br>
    <label>Create New Title:</label>
    <input type="text" name="title[name]" id="new_title">
    <br></br>
    <label>Create New Landmark:</label>
    <br></br>
    <label>Name:</label>
    <input type="text" name="landmark[name]" id="new_landmark">
    <br></br>
    <label>Year:</label>
    <input type="text" name="landmark[year]" id="landmark_year">
    <br></br>


    <label>Titles:</label>
    <% @titles.all.each do |title|%>
      <label><%=title.name%></label>
      <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>">
      </input>
    <%end%>


    <label>Landmarks:</label>
    <% @landmarks.all.each do |landmark|%>
      <%=landmark.name%>
      <input type="checkbox" name="figure[landmark_ids][]"
       value="<%=landmark.id%>" id="landmark_<%=landmark.id%>">
        <%=landmark.name%>
      </input>
    <%end%>
    <br></br>
  <input type="submit" value="Create New Figure">
</form>