<h1>Create a new figure:</h1>
<form action="/figures" method="post">
  <h3><label>Name:</label></h3>
  <input type="text" id="figure_name" name="figure[name]"><br></br>

  <h3><label>Titles:</label></h3>
  <%Title.all.each do |title|%>
    <label><%= title.name %></label>
    <input type="checkbox" id="title_<%= title.id %>" name="figure[title_ids][]" value="<%= title.id %>"><br>
  <% end %>
  <br>
  <h3><label>Create New Title:</label></h3>
  <input type="text" id="new_title" name="title[name]"><br></br>

  <h3><label>Landmarks:</label></h3>
  <%Landmark.all.each do |landmark|%>
    <label><%= landmark.name %></label>
    <input type="checkbox" id="landmark_<%= landmark.id %>" name="figure[landmark_ids][]" value="<%= landmark.id %>"><br>
  <% end %>
  <br>
  <h3><label>Create New Landmark:</label></h3><br>
  <label>Name:</label>
  <input type="text" id="new_landmark" name="landmark[name]">
  <label>Year:</label>
  <input type="text" name="landmark[year_completed]">
  <input type="submit" value="Create New Figure">
</form>
