<h1>New Figure </h1>

<form action="/figures" method="POST">
  <label>Name:</label><br>
  <input type="text" name="figure[name]" id="figure_name" /><br>

    <label> Titles </label>
    <% Title.all.each do |title| %>
      <input id= "title_<%=title.id%>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" ><%=title.name%></input>
    <% end %> <br><br>

    <label> Landmarks </label>
    <% Landmark.all.each do |landmark| %>
      <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>"><%=landmark.name%></input>
    <% end %><br>
    <label>New Title: </label></br>
    <input type="text" name="title[name]" id="new_title" /><br>
   <label>New Landmark: </label></br>
   <input type="text" name="landmark[name]" id="landmark_name" /><br>



  <input type="submit" name="Create New Figure" id="Create New Figure" value="submit" />
</form>
