<form action="/figures" method= "POST">
    <label for="figure[name]">Figure Name</label>
    <input type="text" name="figure[name]" id="figure_name">
    <br>
    <label for="landmark[name]">Landmark Name</label>
    <input type="text" name="landmark[name]" id="new_landmark">
    <label for="landmark[year_completed]">Landmark - Year Completed</label>
    <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
    <br>
    <% Landmark.all.each do |landmark| %>
        <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"><%=landmark.name%>
    <% end %>
        <br>
    <label for="title[name]">Title</label>
    <input type="text" name="title[name]" id="new_title">
    <br>
    <% Title.all.each do |title| %>
        <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%>
     <% end %>

    <input type="submit" value="Create New Figure">
    
    </form>