<h1>Create a New Figure</h1>

<form action="/figures/new" method="POST">

  <label>Figure Name:</label>
  <input type="text" name="figure_name">

  <br></br>

  <label>Title(s):</label>
  <%Title.all.each do |title|%>
    <label><%= title.name %></label>
    <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="<%=title.name%>">
  <%end%>

  <label>Create a New Title:</label>
  <input type="text" name="New Title Name">

  <br></br>

  <label>Landmark(s):</label>
  <%Landmark.all.each do |landmark|%>
    <label><%= landmark.name %></label>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="<%=landmark.name%>">
  <%end%>

  <label>Create a New Landmark:</label>
  <label for="landmark_name">
  <input type="text" name="New Landmark Name" id="landmark_name">
  <label for="landmark_year">
  <input type="text" name="New Landmark Year" id="landmark_year">

  <input type="submit" value="Create New Figure">
</form>
