<h1>Create New Figure</h1>



<form action="/figures" method="post">
  <label for="figure[name]">Name</label>
  <input type="text" name="figure[name]">

  <br>

  <h2>Titles</h2>

  <% Title.all.each do |title| %>
    <label><%= title.name %></label>
    <input id="<%= title.name %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>">
    <br>
  <% end %>

  <h2>Create New Title:</h2>

  <input type="text" name="title[name]">

  <h2>Landmarks</h2>

  <% Landmark.all.each do |landmark| %>
    <label><%= landmark.name %></label>
    <input id="<%= landmark.name %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>">
    <br>
  <% end %>

  <h2>Create New Landmark:</h2>

  <label for="figure[landmark_ids][]">Name:</label>
  <input type="text" name="landmark[name]">

  <label for="year_completed">Year:</label>
  <input type="text" name="year_completed">

  <input type="submit" value="Create New Figure">
</form>
