<h1>Display Figure</h1>
<h2>Name: <%= @figure.name %></h2>
<h2>Title:</h2>
   <% @figure.titles.each do |title| %>
      <p><%= title.name %></p>
   <% end %>
<h2>Landmarks:</h2>
<table>
   <tr>
      <th>Name</th>
      <th>Year Completed</th>
   </tr>
   <tr>
      <% @figure.landmarks.each do |landmark| %>
      <td><%= landmark.name %></td>
      <td><%= landmark.year_completed %></td>
      <% end %>
   </tr>
<table>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit This Figure</a><br>
<a class="button" href="/figures">View All Figures</a>
