# show.erb

  <a href="/figures/<%=@figure_id%>"><%=@figure.name%></a>
  <br> </br>


<%@figure.landmarks.each do |landmark|%><%=@landmark.name%>
  <a href="/landmarks/<%=landmark.id%>"><%=landmark.name%> </a>
<% end %>
