<h2>Figure Name</h2><br>

  <lable><a href="/figures/<%= @figure.id %>"> <%= @figure.name %> </a></label><br>

  <br>

<h4>Landmarks</h4>

  <% @figure.landmarks.each do |landmark| %>
  <li><%= landmark.name %></li>
  <% end %>

<h4>Titles</h4>

  <% @figure.titles.each do |title| %>
  <li><%= title.name %></li>
  <% end %>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit</a>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Go Home</a>
