<h1><%= @figure.name %></h1>

<p><%= @figure.name %>'s Landmarks:</p>
<ul>
<% @figure.landmarks.each do |landmark| %>
  <li><%=landmark.name%></li>
<%end%>
</ul>

<p><%= @figure.name %>'s Titles:</p>
<ul>
<% @figure.titles.each do |title| %>
  <li><%=title.name%></li>
<%end%>
</ul>


<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<br></br>
<a class="button" href="/figures">Figures</a>
