<label>Figure: </label>
<p>
  Name: <%= @figure.name %><br><br><br>
  Title(s):
  <% @figure.titles.each do |title| %>
    <br>- <%= title.name %>
  <% end %>
  <br><br><br>
  Landmark(s):
  <% @figure.landmarks.each do |landmark| %>
    <br>- <%= landmark.name %> - Completed: <%= landmark.year_completed %>
  <% end %>
</p>
<br><br>

<form action="/figures/<%=params[:id]%>/edit" method="get">
  <input type="submit" id="edit_figure" value="Edit">
</form>
<br><br>

<form action="/" method="get">
  <input type="submit" id="back_to_index" value="Back to Main Page">
</form>
