<h2>Here is the historical figure.</h2>

<h3>Name: </h3><%= @figure.name %>

<h3>Titles:</h3>
<ul>
  <% @figure.titles.sort_by{ |title| title.name }.each do |title| %>
    <li><%= title.name %></li>
  <% end %>
</ul>

<h3>Landmarks:</h3>
<ul>
  <% @figure.landmarks.sort_by{ |landmark| landmark.name }.each do |landmark| %>
    <li><a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a></li>
  <% end %>
</ul>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/figures">Figures</a>