<h1><%= @figure.name %></h1>

<h3>Titles:</h3>
  <% if !@figure.titles.empty? %>
    <ul>
      <% @figure.titles.each do |title| %>
        <li><%= title.name %></li>
      <% end %>
    </ul>
  <% else %>
    There are no recorded titles for <%= @figure.name %>
  <% end %>

<br>

<h3>Landmarks:</h3>
  <% if !@figure.landmarks.empty? %>
    <ul>
      <% @figure.landmarks.each do |landmark| %>
        <li><%= landmark.name %></li>
      <% end %>
    </ul>
  <% else %>
    There are no recorded landmarks for <%= @figure.name %>
  <% end %>

<br><br>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
