<p><%= flash[:message] %><p>

<h2><%= @figure.name %></h2>

<p>Titles:<p>
<ul>
<% @figure.titles.each do |title| %>
    <li><%=title.name%></li>
<% end %>
</ul>

<p>Associated Landmarks:</p>
<ul>
<% @figure.landmarks.each do |landmark| %>
    <li><%=landmark.name%></li>
<% end %>
</ul>

<br>

<form action="/figures/<%=@figure.id%>/edit" method="get">
    <input type="submit" id="button" value="Edit Figure">
</form>

