
<form  action="/figure" method="post">

  <h3>Name <input type="text" name="figure_name"></h3>

  <h2>Titles</h2>

  <%@titles.each do |title|%>
    <!-- we give check box ids so when checked, it can be tracked -->
    <ul><%=title.name%>
    <input type="checkbox" id="<%=title.name%>" name="title[]" value="<%=title.id%>">
    </input>
    </ul>
    <%end%>


 <h2> LandMark</h2>
    <%@landmarks.each do |landmark|%>
    <ul><%=landmark.name%>
    <input type="checkbox" name="landmark[]" value="<%=landmark.id%>" id="<%=landmark.name%>">
     </input>
     </ul>
     <%end%>

  <h3>Create New Landmark</h3>
   <h3>Name: <input type="text" name=""> Year: <input type="text" name="">
    <input type="submit" value="create New Figure">
    </h3>


</form>

<!-- How you test for your work...

rspec spec/figures_controller_view_spec.rb -->
